.design-page {
    background-attachment: fixed;
    background-size: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 12vw 0;
}

.design-page h2 {
  margin-bottom: 0;
}

.design-wrapper {
  background-color: #FDFDFD;
  display: grid;
  place-items: center;
  margin: 200px 0;
  }

.design-intro {
  width: 84vw;
  padding-bottom: 40px;
}

.design-title {
  width: 64vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .design-title {
    flex-direction: column;
    align-items: first baseline;
  }
}

@media (min-width: 961px){
  .design-title-left{
  padding-right: 80px;
}
}

.design-title-left{
  flex: 3;
}

.design-title-left h1 {
  margin: 0;
}

.design-title-right {
  flex: 1;
}

.design-title-right p, h4{
  margin: 0;
}

.design-title-right-item {
  padding: 12px 0;
}

.design-title-image img {
  width: 84vw;
}

.design-component-layout-container {
  width: 64vw;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.design-component-layout-container.wide-image-only {
  width: 84vw;
  max-width: none;
}

.design-components {
  padding-bottom: 64px;
}
/* 
.design-features-wrapper {
  width: 100%;
  background-color: #f0f0f0;
}

.design-features {
  width: 72vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .feature {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .feature img {
    width: 80vw;
    padding: 12vw 0 4vw;
  }

  .design-even {
    flex-direction: column;
  }

  .design-odd {
    flex-direction: column;
  }

  .feature-details {
    width: 80vw;
  }
}

@media (min-width: 961px) {
  .feature {
    display: flex;
    width: 64vw;
    align-items: center;
    justify-content: space-between;
  }

  .feature img {
    width: 28vw;
    padding: 6vw 0;
  }

  .design-even {
    flex-direction: row;
  }
  
  .design-odd {
    flex-direction: row-reverse;
    text-align: right;
  }

  .feature-details {
    width: 28vw;
  }
} */

.design-outro-wrapper {
  width: 100vw;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.design-outro {
  width: 80vw;
  text-align: center;
}

.design-footer-container {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
}
