.design-card-container-mobile {
    position: relative;
    width: 80vw;
    margin: 12vw 2vw 6vw;
}

.design-card-image-mobile {
    width: 80vw;
    height: 40vw;
    overflow-y: hidden;
    overflow: hidden;
}

.design-card-image-mobile img {
    width: 100%;
}

.design-card-text-container-mobile {
    width: fit-content;
    height: auto;
}

.design-card-text-mobile {
    width: 80vw;
    height: auto;
  }

  .design-card-text-mobile h5 {
    margin: 2vw 0;
  }

  .design-card-text-mobile h1 {
    margin: 2vw 0;
  }

.design-card-text-mobile p {
    margin: 0;
  }
