.footer-wrapper {
    position: relative;
    border-top: 1px solid #1f1f1f;
}

.footer-wrapper p {
    padding-left: 2vw;
    font-size: 1vw;
}

.footer-icons {
    position: absolute;
    right: 2vw;
    top: 72%;
    transform: translateY(-50%);
}

.footer-icons a {
    display: inline-block;
    margin-left: 1.4vw; /* Add some spacing between the icons */
  }

.footer-icons img {
    width: 1.8vw;
    transition: transform 0.5s ease;
}

.footer-icons img:hover {
    transform: scale(1.2); /* Increase the scale to make the image grow on hover */
}

.back-to-top img {
    position: absolute;
    width: 6vw;
    right: 3vw;
    bottom: 7vw;
    z-index: 100000000;
    animation: rotate 5s linear infinite;

}

.back-to-top img:hover {
    cursor: pointer;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }