.footer-wrapper-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8vw;
  }

  
  .footer-icons-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .footer-icons-mobile img{
    width: 10vw;
    margin: 0 6vw;
  }
  
  .footer-text-mobile {
    margin-top: 2vw;
  }

  .footer-text-mobile p {
    font-size: 4vw;
  }