.about-top-wrapper-mobile {
    width: 100vw;
    padding: 28vw 0vw 12vw;
    position: relative;
    display: grid;
    place-items: center;
}

.about-top-mobile {
    padding: 4vw 8vw 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-top-text-mobile {
    align-self: flex-start;
    width: 40vw;
}

.about-top-mobile img {
    align-self: flex-start;
    width: 24vw;
    padding: 0 4vw;
    
}

.about-top-content-mobile {
    width: 68vw;
    padding-top: 4vw;
}

.about-middle-wrapper-mobile {
    padding: 2vw 12vw 4vw;
    position: relative;
    display: grid;
    place-items: center;
}
.about-middle-text-mobile {
    position: absolute;
    text-align: right;
    top: -1vw;
    right: 0;
    padding-right: 12vw;
    width: 40vw;
}

.about-middle-wrapper-mobile img {
    width: 72vw;
}

.about-middle-content-mobile {
    text-align: right;
    padding-top: 4vw;
}

/* .about-bottom-wrapper-mobile {
    padding-top: 4vw;
    display: grid;
    place-items: center;
    text-align: center;
}
.about-bottom-mobile h3 {
    margin-bottom: 0;
}
.about-bottom-mobile img {
    width: 80vw;
    padding: 8vw 0;
} */