
.about-top-wrapper {
    padding: 4vw 12vw 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-top {
    align-self: flex-start;
    width: 56vw;
    padding: 0 2vw;
}

.about-top-images {
    width: 52vw;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-top-wrapper #about-top-graphic {
    width: 22vw;
    padding: 0;
    
}

.about-top-wrapper #about-top-picture {
    width: 26vw;
    border-radius: 6vw;
    border: 1px solid #1f1f1f;
    margin-top: 4vw;

}

#about-top-fact {
    opacity: 0;
    width: 12vw;
    position: absolute;
    top: 43vw;
    right: 34vw;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  #about-top-picture:hover + #about-top-fact {
    top: 44vw; 
    opacity: 1;
  }

.about-middle-wrapper {
    display: grid;
    place-items: center;
}

#about-middle-fact {
    opacity: 0;
    width: 12vw;
    position: absolute;
    top: 57vw;
    left: 8vw;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#about-middle-picture:hover + #about-middle-fact {
    top: 56vw;
    opacity: 1;
}

.about-middle {
    width: 72vw;
    padding: 4vw 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-middle #about-middle-picture {
    width: 36vw;
    height: 100%;
    border-radius: 6vw;
    border: 1px solid #1f1f1f;
    margin: 2vw 8vw 0 0;
}

.about-middle-text {
    text-align: right;
    top: 0vw;
    right: 0;
    width: 36vw;
}

.about-middle-wrapper #about-middle-graphic {
    width: 72vw;
    /* margin: 2vw 0 4vw; */
    padding: 2vw 0 10vw;
}

/* .about-bottom-wrapper {
    display: grid;
    place-items: center;
    text-align: center;
}

.about-bottom img {
    width: 80vw;
    padding: 1vw 0 6vw;
} */