.homepage {
    background-color: #ebe4ce;
    width: 100%;
    border-top: 1px solid #1f1f1f;
    margin-top: 6vw;
}

.home-top-wrapper{
    width: 84vw;
    margin: auto;
    display: grid;
    place-items: center;
    border-left: 1px solid #1f1f1f;
    border-right: 1px solid #1f1f1f;

}

.home-top {
    width: 60vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 2vw 0 3vw;
    }

.home-top .hello-wrapper {
    max-width: 60vw;
    text-align: center;
    
}

.home-top h1 {
    margin: 2vw 2vw;
    
}

.home-top .top-graphic-container #top-graphic {
    max-width: 48vw;
    height: auto;
}

.scrolling-text-container {
    width: 100%;
    overflow: hidden;
}
  

.home-middle-wrapper{
    width: 84vw;
    margin: auto;
    display: grid;
    place-items: center;
    border-left: 1px solid #1f1f1f;
    border-right: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
}

.home-middle {
    margin:2vw 4vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.home-middle .heading-wrapper {
    margin: 1vw;
}

.home-middle .icon-item {
    flex: 1; 
    flex-shrink: 1;
    padding: 2vw 4vw;
    
}

.work-btn-container {
    width: fit-content;
    height: auto;
    margin-bottom: 4vw;
    z-index: 1000;
}
.work-btn {
    padding: .8vw 3vw;
    border: 1px solid #1f1f1f;
    transition: transform 0.5s ease;
}

 .work-btn:hover {
    transform: scale(1.05); /* Increase the scale to make the image grow on hover */
}
  
.work-btn p {
    margin: 0;
}

.icon-item img {
    max-width: 100%;
    height: auto;
    
}

.home-bottom-wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
   
}

.home-bottom-text {
    width: 30vw;
    position: relative;
    top: 6vw;
    margin: auto;
    display: grid;
    place-items: center;
    text-align: center;
}

.home-bottom-text h4 {
    margin: 0 0 2vw;
}

.home-bottom-text p {
    margin: 0;
}

.home-bottom-wrapper img{
    width: 48vw;
    position: relative;
    bottom: 8vw;
}

.email-btn-container {
    z-index: 1000;
    margin: 2vw 0 8vw;
    
}
.email-btn {
    display: inline-block;
    padding: .8vw 3vw;
    border: 1px solid #1f1f1f;
    transition: transform 0.5s ease;
}

 .email-btn:hover {
    transform: scale(1.05); /* Increase the scale to make the image grow on hover */
}
  
.email-btn p {
    margin: 0;
}

.home-overlay.show-conversation-starters .conversation-starters {
    opacity: 1;
  }

#conversation {
    position: absolute;
    left: 8vw;
    top: 111vw;
    width: 16vw;
    transition: transform 0.5s ease;
}

#conversation:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.conversation-starters{
    position: absolute;
    width: 92vw;
    top: 99vw;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#conversation-starter-01 {
    width: 10vw;
    position: absolute;
    top: 18vw;
    left: 6vw;
}

#conversation-starter-02 {
    width: 10vw;
    position: absolute;
    top: 0vw;
    left: 20vw;
}

#conversation-starter-03 {
    width: 10vw;
    position: absolute;
    top: 22vw;
    left: 44vw;
}

#conversation-starter-04 {
    width: 10vw;
    position: absolute;
    top: 14vw;
    right: 12vw;
}

#conversation-starter-05 {
    width: 10vw;
    position: absolute;
    top: -2vw;
    right: 0vw;
}