.work-top-wrapper {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 10vw;
}

.work-top img { 
    width: 72vw;
}

.work-bottom-wrapper {
    width: 100%;
    padding-bottom: 8vw;
  }
  
  .design-card-col {  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100000;
  }
  
  .design-card-row {
    display: flex;
    flex-direction: row;
    z-index: 100;
  }