.App {
  text-align: center;
}

.app-container {
  background-color: #ebe4ce;
  min-height: 100vh;
  position: relative;
}

.navbar-container {
  top: 0px;
  z-index: 1000000000000;
  position: sticky;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1 {
  color: #1f1f1f;
  font-family: 'kepler-std-semicondensed', serif;
  font-size: 3.5vw;
  font-weight: 300;
}

h2{
  color: #1f1f1f;
  font-family: 'kepler-std-semicondensed', serif;
  font-size: 5vw;
  font-style: italic;
  font-weight: 300;
  line-height: .25;
}

h3{
  color: #1f1f1f;
  font-family: 'kepler-std-semicondensed', serif;
  font-size: 5vw;
  font-style: normal;
  font-weight: 300;
  line-height: .25;
  text-transform: uppercase;
}

h4 {
  color: #1f1f1f;
  text-align: center;
  font-family: 'kepler-std-semicondensed', serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #1f1f1f;
  font-family: 'Lekton', sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

a {
  text-decoration: none;
}
